{{ define "summary" }}
<h1>All Buildings</h1>
<table>
    <thead>
        <tr>
            <th>City</th>
            <th>Site</th>
            <th>Building</th>
            <th>Windows</th>
        </tr>
    </thead>
    <tbody>
        {{ range .buildings }}
        <tr>
            <td>{{ .City }}</td>
            <td>{{ .Site }}</td>
            <td>{{ .Building }}</td>
            <td>
                <ul>
                    {{ range .Windows }}
                    <li>{{ .Height }}" x {{ .Width }}"</li>
                    {{ end }}
                </ul>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}